@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
   --orange: #ff7200;
   --red: #c0392b;
   --yellow: #f39c12;
   --black: #333;
   --white: #fff;
   --light-color: #666;
   --light-white: #ccc;
   --light-bg: #f5f5f5;
   --border: .1rem solid var(--black);
   --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
   --outline: .1rem solid rgba(0, 0, 0, .1);
   --outline-hover: .2rem solid var(--black);
}

* {
   font-family: 'Rubik', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   transition: all .2s linear;
}

*::selection {
   background-color: var(--orange);
   color: var(--white);
}

*::-webkit-scrollbar {
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track {
   background-color: transparent;
}

*::-webkit-scrollbar-thumb {
   background-color: var(--orange);
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

section {
   padding: 3rem 2rem;
}

.title {
   text-align: center;
   margin-bottom: 2rem;
   text-transform: uppercase;
   color: var(--black);
   font-size: 4rem;
}

header {
   position: sticky;
   top: 0;
}

.header .header-2 {
   background-color: #064770;
   box-shadow: var(--box-shadow);
}

.header .header-2.active {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
}

.header .header-2 .flex {
   padding: 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1200px;
   height: 8rem;
   margin: 0 auto;
   position: relative;
}

.header .header-2 .flex .navbar {
   display: flex;
   justify-content: space-between;
}

.header .header-2 .flex .navbar2 {
   display: none;
}

.header .header-2 .flex h1 {
   font-size: 30px;
   color: var(--white);
}

.header .header-2 .flex h1 span {
   color: var(--orange);
}

.header .header-2 .flex .navbar a {
   margin: 0 1rem;
   font-size: 2.3rem;
   color: #fff;
   text-align: center;
   padding: 1.5rem;

}

.header .header-2 .flex .navbar {
   margin-left: 570px;
   width: 100%;
   margin-top: 3px;
}

.header .header-2 .flex .navbar a:hover {
   color: var(--orange);
   text-decoration: underline;
}

.checkbtn {
   font-size: 3rem;
   color: var(--white);
   float: right;
   line-height: 3rem;
   margin-right: 5rem;
   cursor: pointer;
   display: none;
}



#check {
   display: none;
}

#menu-btn {
   display: none;
}

.heading {
   min-height: 30vh;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   background: url(img/beach.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
}

.heading h3 {
   font-size: 5rem;
   color: var(--white);
   text-transform: uppercase;
}

.heading p {
   font-size: 2.5rem;
   color: var(--light-bg);
}

.heading p a {
   color: var(--orange);
   text-decoration: underline;
}

.heading p a:hover {
   text-decoration: underline;
   color: var(--white);
}

.home {
   min-height: 88vh;
   background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(img/cover.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.home .content {
   text-align: center;
   width: 60rem;
}

.home .content h3 {
   font-size: 4rem;
   color: var(--white);
   text-transform: uppercase;
   font-weight: bold;
}

.home .content h3 span {
   color: var(--orange);
}

.home .content p span {
   color: var(--orange);
   font-size: 3rem;
   font-weight: bold;
}

.home .content p {
   font-size: 2rem;
   color: var(--light-white);
   padding: 1rem 0;
   line-height: 1.5;
   text-align: justify
}

.home .content a:hover {
   color: var(--orange);
}

.about {
   display: flex;
   justify-content: space-between;
   padding-left: 0 2rem;
}

.about img {
   width: 35rem;
   height: 35rem;
   margin-left: -10%;
   margin-right: -10%;
}

.about h1 {
   font-size: 2.4rem;
   color: var(--light-color);
   line-height: 1.8;
   padding: 1rem 0;
}

.about p {
   font-size: 1.9rem;
   color: var(--light-color);
   line-height: 1.8;
   padding: 1rem 0;

}

.experience {
   display: flex;
   justify-content: flex-start;
   padding-left: 5%;
}

.experience img {
   width: 35rem;
   height: 35rem;
   margin-left: -10%;
   margin-right: -10%;
   margin-top: 5%;
}

.experience h1 {
   font-size: 2.4rem;
   color: var(--light-color);
   line-height: 1.8;
   padding: 1rem 0;
}

.experience p {
   font-size: 1.9rem;
   color: var(--light-color);
   line-height: 1.8;
   padding: 1rem 0;
   text-align: justify;
   text-indent: 5rem;

}

.hobbies {
   display: flex;
   justify-content: flex-start;
   padding-left: 5%;
}

.hobbies .hob {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.hobbies img {
   width: 35rem;
   height: 35rem;
   margin-left: -10%;
   margin-right: -10%;
   margin-top: 5%;
}

.hobbies h1 {
   font-size: 2.4rem;
   color: var(--light-color);
   line-height: 1.8;
   padding: 1rem 0;
}

.hobbies p {
   font-size: 1.9rem;
   color: var(--light-color);
   line-height: 1.8;
   padding: 1rem 0;
   text-align: justify;
   margin-left: 10%;
}

.hobbies p img {
   width: 70%;
   height: 70%;
   display: grid;
}

.discover {
   display: flex;
   justify-content: flex-start;
   padding-left: 5%;
}

.discover .falls {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.discover img {
   width: 35rem;
   height: 35rem;
   margin-left: -10%;
   margin-right: -10%;
   margin-top: 5%;
}

.discover h1 {
   font-size: 2.4rem;
   color: var(--light-color);
   line-height: 1.8;
   padding: 1rem 0;
}

.discover p {
   font-size: 1.9rem;
   color: var(--light-color);
   line-height: 1.8;
   padding: 1rem 0;
   text-align: justify;
   margin-left: 4rem;
}

.discover .falls p {
   font-size: 1.9rem;
   color: var(--light-color);
   line-height: 1.8;
   padding: 1rem 0;
   text-align: justify;
   margin-left: 10%;
}

.discover .falls p img {
   width: 70%;
   height: 50%;
   display: grid;
}


.travel {
   display: flex;
   justify-content: flex-start;
   padding-left: 5%;
}

.travel .place {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.travel img {
   width: 35rem;
   height: 35rem;
   margin-left: -10%;
   margin-right: -10%;
   margin-top: 5%;
}

.travel h1 {
   font-size: 2.4rem;
   color: var(--light-color);
   line-height: 1.8;
   padding: 1rem 0;

}

.travel .place p img {
   width: 70%;
   height: 70%;
   display: grid;
}

.travel .place p {
   font-size: 1.9rem;
   color: var(--light-color);
   line-height: 1.8;
   padding: 1rem 0;
   text-align: justify;
   margin-left: 10%;
}

.projects {
   display: flex;
   justify-content: flex-start;
   padding-left: 5rem;
}

.projects .ss {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.projects img {
   width: 35rem;
   height: 35rem;
   margin-left: -10%;
   margin-right: -10%;
}

.projects h1 {
   font-size: 2rem;
   color: var(--light-color);
}

.projects p img {
   width: 80%;
   height: 100%;
   display: grid;
   padding-bottom: 10%;
   margin-left: 5%;
   margin-top: 5%
}

.footer {
   background-color: #064770;
}

.footer .box-container {
   max-width: 1200px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 3rem;
}

.footer .box-container .box h3 {
   text-transform: uppercase;
   color: #fff;
   font-size: 2rem;
   padding-bottom: 2rem;
}

.footer .box-container .box p,
.footer .box-container .box a {
   display: block;
   font-size: 1.7rem;
   color: #fff;
   padding: 1rem 0;
}

.footer .box-container .box h2 {
   color: var(--orange);
   font-size: 2.5rem;
   background-color: var(--orange);
   color: var(--white);
   border-radius: 1rem;
   width: 17rem;
   height: 3rem;
   text-align: center;
   cursor: pointer;
}

.footer .box-container .box h2:hover {
   color: var(--orange);
   background-color: var(--white);
}


.footer .box-container .box p i,
.footer .box-container .box a i {
   color: var(--orange);
   padding-right: .5rem;
}

.footer .box-container .box a:hover {
   color: var(--orange);
   text-decoration: underline;
}

.footer .credit {
   text-align: center;
   font-size: 2rem;
   color: #fff;
   border-top: var(--border);
   margin-top: 2.5rem;
   padding-top: 2.5rem;
}

.footer .credit span {
   color: var(--orange);
}

/* media queries  */

@media only screen and (max-width: 1024px) {

   html {
      font-size: 62.5%;
      overflow-x: hidden;
   }

   section {
      padding: 3rem 2rem;
   }

   .title {
      text-align: center;
      margin-bottom: 2rem;
      text-transform: uppercase;
      color: var(--black);
      font-size: 4rem;
   }

   header {
      position: sticky;
      top: 0;
   }

   .header .header-2 {
      background-color: #064770;
      box-shadow: var(--box-shadow);
   }

   .header .header-2.active {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
   }

   .header .header-2 .flex {
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      height: 8rem;
      margin: 0 auto;
      position: relative;
   }

   .header .header-2 .flex .navbar {
      display: flex;
      justify-content: space-between;
   }

   .header .header-2 .flex h1 {
      font-size: 30px;
      color: var(--white);
   }

   .header .header-2 .flex h1 span {
      color: var(--orange);
   }

   .header .header-2 .flex .navbar a {
      margin: 0 1rem;
      font-size: 2.3rem;
      color: #fff;
      text-align: center;
      padding: 1.5rem;
   }

   .header .header-2 .flex .navbar {
      margin-left: 500px;
      width: 100%;
      margin-top: 3px;
   }

   .header .header-2 .flex .navbar a:hover {
      color: var(--orange);
      text-decoration: underline;
   }

   .footer .box-container .box p,
   .footer .box-container .box a {
      display: block;
      font-size: 1.5rem;
      color: #fff;
      padding: 1rem 0;
   }

}

@media (max-width:991px) {

   .header .header-2 .flex .navbar {
      font-size: 25%;
      margin-right: 100%;
   }

}

@media only screen and (min-width: 913px) and (max-width: 1057px) {
   .header .header-2 .flex h1 {
      font-size: 24px;
   }

   .header .header-2 .flex .navbar {
      margin-left: 0;
      justify-content: center;
      margin-left: 50%;
      align-items: center;
   }

   .header .header-2 .flex .navbar a {
      font-size: 1.8rem;
   }

   .checkbtn {
      display: none;
   }

   .header .header-2 .flex .navbar2 {
      display: none;
   }
}


@media only screen and (max-width: 912px) {
   .header .header-2 .flex h1 {
      font-size: 24px;
   }

   .header .header-2 .flex .navbar {
      margin-left: 0;
      width: auto;
   }

   .header .header-2 .flex .navbar a {
      font-size: 2rem;
      padding: 1rem;
   }

   .checkbtn {
      display: block;
   }

   .header .header-2 .flex .navbar {
      display: none;
   }

   #check:checked~.header .header-2 .flex .navbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: var(--black);
      z-index: 999;
      overflow-x: hidden;
      transition: all 0.5s ease-in-out;
   }

   .header .header-2 .flex .navbar a {
      text-align: center;
      padding: 2rem 1rem;
      display: block;
      font-size: 3rem;
   }

   .header .header-2 .flex .navbar a:hover {
      color: var(--orange);
   }

   .heading h3 {
      font-size: 3rem;
   }

   .heading p {
      font-size: 1.8rem;
   }

   .home .content {
      width: 90%;
   }

   .home .content h3 {
      font-size: 3.5rem;
   }

   .home .content h3 span {
      font-size: 4rem;
   }

   .home .content p {
      font-size: 1.8rem;
      line-height: 1.8;
   }

   .home .content p span {
      font-size: 2.5rem;
   }

   .about {
      flex-direction: column;
      align-items: left;
      margin-left: 10%;
   }
   .about .about-img {
      width: 100%;
   }

   .experience{
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 10%;
      
   }
   .hobbies{
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 10%;
   }
   .discover{
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 10%;
   }
   .travel{
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 10%;
   }
}

@media only screen and (max-width: 915px) {

   /* CSS code for mobile devices */
   * {
      font-size: 16px;
   }

   .title {
      font-size: 2.5rem;
   }

   .header .header-2 .flex h1 {
      font-size: 2rem;
   }

   .header .header-2 .flex .navbar a {
      font-size: 1.8rem;
   }

   .checkbtn {
      display: block;
   }

   .header .header-2 .flex .navbar {
      margin-left: 0;
      position: fixed;
      left: -100%;
      top: 5rem;
      width: 100%;
      height: 100vh;
      background-color: #000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
   }

   .header .header-2 .flex .navbar2 {
      position: absolute;
      top: 100%;
      right: 0%;
      display: none;
      background-color: var(--black);
      color: var(--white);
      padding: 1rem;
   }

   .header .header-2 .flex .navbar2 a {
      font-size: 2.5rem;
      color: var(--white);
      display: block;
      padding: 2rem;

   }
   .header .header-2 .flex .navbar2 a:hover{
      background-color: var(--orange);
   }

   .header .header-2 .flex .navbar.checkbtn:before:hover {
      background-color: var(--orange);
   }

   #check:checked~.header .header-2 .flex .navbar {
      left: 0;
   }

   .header .header-2 .flex .navbar a {
      margin: 1rem 0;
      font-size: 2rem;
      color: var(--black);
   }

   .heading h3 {
      font-size: 3rem;
   }

   .heading p {
      font-size: 1.8rem;
   }

   .home .content h3 {
      font-size: 3rem;
   }

   .home .content p span {
      font-size: 2.5rem;
   }

   .home .content p {
      font-size: 1.8rem;
   }
}

@media only screen and (max-width: 912px) {

.about {
   flex-direction: column;
   align-items: left;
   margin-left: 10%;
}
.about .about-img {
   width: 100%;
}

.experience{
   display: grid;
   grid-template-columns: 1fr;
   margin-left: 10%;
}
.experience p{
   margin-left: -15%;
   font-size: 1.8rem;
   padding: 4rem;
   text-align: justify;
   
}
.hobbies{
   display: grid;
   grid-template-columns: 1fr;
   margin-left: 10%;
}

.hobbies .hob p{
   text-align: left;
   margin-left: -20%;
   margin-top: -5%;
   font-size: 2.5rem;
}

.hobbies .hob p img{
   display: grid;
   grid-template-columns: 1fr;
   width: 100%;
   height: 100%;
   margin-left: -10%;
   padding: 3rem 4rem;
   margin-top: -3%;
}
.discover{
   display: grid;
   grid-template-columns: 1fr;
   margin-left: 10%;
}
.hobbies .falls p{
   text-align: left;
   margin-left: -20%;
   margin-top: -3%;
   width: 100%;
   height: 100%;
}

.discover .falls p img{
   display: grid;
   grid-template-columns: 1fr;
   width: 100%;
   margin-left: -10%;
   margin-top: -3%;
   padding: 1rem 0;
}
.travel{
   display: grid;
   grid-template-columns: 1fr;
   margin-left: 10%;
}
.travel .place p{
   text-align: left;
   margin-left: -20%;
   margin-top: -3%;
   font-size: 2.5rem;
}

.travel .place p img{
   display: grid;
   grid-template-columns: 1fr;
   width: 100%;
   height: 100%;
   margin-left: -10%;
   padding: 3rem 4rem;
   margin-top: -3%;
}


 .projects {
   display: flex;
   flex-direction: column;
 }
 .projects img{
    width: 110%;
 }

 .projects h1{
    margin-top: 2rem;
    font-size: 3rem;
 }
 .ss {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }
 .ss p {
   width: 100%;
   padding: 2rem;
   margin-top: 2rem;
 }

 .ss p img{
    width: 100%;
    margin-left: -2rem;
  }

  .projects .ss {
    display: grid;
    grid-template-columns: 1fr;
 }
}


@media screen and (max-width: 768px) {
   .header .header-2 .flex {
      padding: 1.5rem;
      height: 6rem;
   }

   .header .header-2 .flex h1 {
      font-size: 24px;
   }

   .header .header-2 .flex .navbar {
      margin-left: 0;
      justify-content: center;
   }

   .header .header-2 .flex .navbar a {
      font-size: 2rem;
      margin: 0 0.5rem;
      padding: 1rem;
   }

   .title {
      font-size: 3rem;
   }

   .home .content {
      width: 90%;
   }

   .home .content h3 {
      font-size: 3rem;
   }

   .home .content p span {
      font-size: 2.5rem;
   }

   .home .content p {
      font-size: 1.8rem;
   }
}


@media only screen and (max-width: 450px) {
   .header .header-2 .flex {
      padding: 1rem;
      height: auto;
   }

   .header .header-2 .flex h1 {
      font-size: 2.5rem;
   }

   .header .header-2 .flex .navbar {
      flex-wrap: wrap;
      margin: 0;
      width: 100%;
   }

   .header .header-2 .flex .navbar a {
      font-size: 2rem;
      margin: 0.5rem;
      padding: 0.8rem;
   }

   .checkbtn {
      display: block;
   }

   #menu-btn:checked~.header .header-2 .flex .checkbtn .navbar {
      display: block;
      position: fixed;
      top: 8rem;
      left: 0;
      right: 0;
      width: 100%;
      max-height: calc(100vh - 8rem);
      overflow-y: auto;
      background-color: var(--white);
      box-shadow: var(--box-shadow);
      z-index: 999;
   }

   #menu-btn:checked~.header .header-2 .flex .checkbtn .navbar a {
      display: block;
      font-size: 2rem;
      padding: 1rem;
      width: 100%;
      text-align: center;
   }

   #menu-btn:checked~.checkbtn:before {
      content: "\f00d";
      color: var(--orange);
   }

   .heading {
      font-size: 24px;
    }

   .heading h3 {
      font-size: 3rem;
   }

   .heading p {
      font-size: 1.8rem;
   }

   .home .content {
      width: 100%;
   }

   .home .content h3 {
      font-size: 3rem;
   }

   .home .content p span {
      font-size: 2rem;
   }

   .home .content p {
      font-size: 1.6rem;
      line-height: 1.3;
   }
   .about {
      flex-direction: column;
      align-items: left;
      margin-left: 10%;
   }
   .about .about-img {
      width: 100%;
   }

   .experience{
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 10%;
   }
   .experience p{
      margin-left: -15%;
      font-size: 1.8rem;
      padding: 4rem;
      text-align: justify;
      
   }
   .hobbies{
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 10%;
   }

   .hobbies .hob p{
      text-align: left;
      margin-left: -20%;
      margin-top: -3%;
   }

   .hobbies .hob p img{
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      margin-left: -10%;
      padding: 2rem;
      margin-top: -3%;
   }
   .discover{
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 10%;
   }
   .hobbies .falls p{
      text-align: left;
      margin-left: -20%;
      margin-top: -3%;
   }

   .discover .falls p img{
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      margin-left: -10%;
      padding: 2rem;
      margin-top: -3%;
   }
   .travel{
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 10%;
   }
   .travel .place p{
      text-align: left;
      margin-left: -20%;
      margin-top: -3%;
   }

   .travel .place p img{
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      margin-left: -10%;
      padding: 2rem;
      margin-top: -3%;
   }
   

    .projects {
      display: flex;
      flex-direction: column;
    }
    .projects img{
       width: 110%;
    }
 
    .projects h1{
       margin-top: 2rem;
       font-size: 3rem;
    }
    .ss {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .ss p {
      width: 100%;
      padding: 2rem;
      margin-top: 2rem;
    }
 
    .ss p img{
       width: 100%;
       margin-left: -2rem;
     }
 
     .projects .ss {
       display: grid;
       grid-template-columns: 1fr;
    }
    .footer .box-container {
      display: flex;
      flex-direction: column;
      align-items: left;
    }
  
}

@media only screen and (max-width: 376px) {

   /* CSS styles for mobile devices with a maximum width of 375px */
   .heading h3 {
      font-size: 1.5rem;
      line-height: 1.5;
   }

   .heading p {
      font-size: 0.8rem;
      line-height: 1.2;
   }

   .projects img {
      display: block;
      margin: 0 auto;
   }

   .footer .box:nth-child(1) h3 {
      font-size: 1rem;
      line-height: 1.2;
   }

   .footer .box:nth-child(2) h3 {
      font-size: 1rem;
      line-height: 1.2;
   }

}

 